fastapi>=0.111.0
uvicorn>=0.30.1
faststream[mqtt]>=0.5.24
dishka>=1.2.0
sqlalchemy>=2.0.30
asyncpg>=0.29.0
pydantic-settings>=2.3.4
opentelemetry-api>=1.25.0
opentelemetry-semantic-conventions>=0.46b0
opentelemetry-sdk>=1.25.0
dishka-faststream
websockets
